{% extends 'base.html'%}

{%block title%} New Post {%endblock%}

{%block breadcrumb%}
<li class="breadcrumb-item">
    <a href="{%url 'home'%}">Board</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'board_topics' topic.board.pk%}">{{topic.board.name}}</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'posts' topic.board.pk topic.pk%}">{{topic.title}}</a>
</li>
<li class="breadcrumb-item active">New Post</li>
{%endblock%}

{%block content%}
<form method="post">
    {% csrf_token%}
    {% include 'includes/form.html'%}
    <button type="submit" class="btn btn-success my-4">Add</button>
</form>
{%endblock%}