{%extends 'base.html'%}

{%block title%} {{board.name}} {%endblock%}

{%block breadcrumb%}
    <li class="breadcrumb-item">
      <a href="{%url 'home'%}">Board</a>
    </li>
    <li class="breadcrumb-item active">{{board.name}}</li>
{%endblock%}

{%block content%}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Topic name</th>
      <th scope="col">Posts</th>
      <th scope="col">View</th>
      <th scope="col">Created by</th>
      <th scope="col">Created at</th>
    </tr>
  </thead>
  <tbody>
    {%for topic in topics%}
    <tr>
      <th scope="row">
          {{topic.id}}
      </th>
      <td>{{topic.title}}</td>
      <td>0</td>
      <td>0</td>
      <td></td>
      <td></td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}